# Core testing framework
pytest==7.4.3

# Web testing
selenium==4.15.0

# Mobile testing
Appium-Python-Client==2.11.1

# API testing
requests==2.31.0

# Allure reporting
allure-pytest==2.13.2

# Utility for environment variables
python-dotenv==1.0.0

#WebDriver management
webdriver-manager==4.0.1

# Parallel test execution
pytest-xdist==3.5.0